* {
  padding: 0;
  margin: 0;
  color: white;
  font-family: sans-serif;
}
body {
  background-color: #001;
  display: flex;
}
.imge{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    overflow: hidden;
  border: 3px solid white;
  flex-shrink: 0;
 
}
.imge img{
    width: 100%;
    
}

.profile {
  display: flex;
  align-items: center;
  gap: 30px;
}
.profile h2{
    font-size: 20px;
    text-transform: capitalize;
}
.menue {
  width: 50px;
  background-color: #123;
  height: 100vh;
  padding: 18px;
  overflow: hidden;
  transition: .5s;
 
}
.menue:hover{
    width: 260px;
}
ul {
  list-style: none;
  position: relative;
  height: 95%;
}
.menue ul li a {
  display: block;
  text-decoration: none;
  padding: 10px;
  margin: 10px 0;
  border-radius:8px ;
  display: flex;
  align-items: center;
   gap: 40px;
   transition: .5s;
   
 
 
}
.menue ul li a:hover,.active,.box:hover,td:hover{
    background-color: #ffffff55;

}
.log-out{
    position: absolute;
    bottom: 0;
    width: 100%;
    

}
.log-out a{
    background-color:#a00;
}
.menue ul li i{
    font-size: 30px;
   
} 
.content{
    width: 100%;
    margin: 10px;
}
.title_info{
    background-color: rgb(33, 113, 200);
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 8px;
    margin: 10px 0;
}
.data-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    flex-wrap: wrap;
    
}
.box{
    background-color: #123;
    height: 150px;
    flex-basis: 150px;
    flex-grow: 1;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.data-info .box i{
    font-size: 40px;
}
.data-info .box .data{
    text-align: center;
}
.data-info .box .data span{
    font-size: 30px;
}
table{
    width: 100%;
    border-spacing: 8px;
    text-align: center;
   
    
}
td,th{
    background-color: #123;
    height: 30px;
    border-radius: 8px;

}
th{
    background-color:  rgb(33, 113, 200);
}
.price,.count{
    border-radius: 8px;
    padding: 6px;
}
.price{
    background-color: green;
}
.count{
    background-color: gold;
    color: black;
}

